*{margin: 0; padding: 0}
	.container{ margin:0 10px;
		background: #f0f0f0;
	}
	.my-biji-view{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.my-biji-view li{
		border-top: 10px solid #fff;
		padding: 11px 15px;
	}
	.my-biji-view li .biji-tit{
		height: 20px;
		line-height: 20px;
		font-size: 14px;
		color: #000;
		font-weight: 600;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.my-biji-view li .biji-content{
		font-size: 14px;
		color: #000;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.my-biji-view li .biji-oth{
		border-top: 1px solid #f2f2f2;
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 12px;
		color: #999;
	}
	button{
		padding: 3px 6px;
		border: none;
		outline: none;
		background-color: #cc0000;
		color: #fff;
		font-size: 12px;
		border-radius: 4px;
	}
	.btmlink{ height:40px; line-height:40px; position:fixed; bottom:0; width:100%; background:#fff;}
	.btmlink a { display:inline-block; float:left; height:20px; line-height:20px; padding:10px 10px; font-size:16px; color:#000; text-decoration:none; }